#cabecalho{ width:1400px;  height:60px; border: 2px solid #aaaaaa; 
	    top: 1%; left: 1%; position: absolute; border-radius: 10px; z-index: 1;}
#topology { width: 900px; height: 715px; border: 1px solid #aaaaaa;
	    top:10%; left: 1%; position: absolute; border-radius: 10px; z-index: 1;}
#topoField{ width: 880px; height: 700px; border: 1px solid #aaaaaa;
	    top: 1%; left: 1%; position: absolute; border-radius: 10px; z-index: 1;}
#graphs   { width: 490px; height: 715px; border: 1px solid #aaaaaa;
	    top:10%; left: 64%; position: absolute; border-radius: 10px; z-index: 1;}
#flows 	  { width: 480px; height: 213px; border: 1px solid #aaaaaa;
	    top: 1%; left: 1%; position: absolute; border-radius: 10px; z-index: 1;}
#trafego  { width: 480px; height: 260px; border: 1px solid #aaaaaa;
	    top: 32%; left: 1%; position: absolute; border-radius: 10px; z-index: 1;}
#imagem  { width: 478px; height: 258px;
	    top: 0%; left: 0%; position: absolute; border-radius: 10px; z-index: 1;}
#pizza 	  { width: 480px; height: 213px; border: 1px solid #aaaaaa;
	    top: 69%; left: 1%; position: absolute; border-radius: 10px; z-index: 1;}
#barraAlertas {position: absolute; top: 12%; left: 45%; z-index: 2; border: 2px solid #aaaaaa; }
#alertasTopo {position: absolute; top: 12%; left: 45%; z-index: 2; border: 2px solid #aaaaaa; }

